body{
    font-family: Arial, Helvetica, sans-serif !important;
}
nav.navbar{
    padding: 0;
    background-color: rgba(41, 98, 167, 0.8) !important;
    height: 80px;
}
.navbar-brand{
    width: 18%;
    padding: 0;
}
.logo{
    margin-left: 38px;
}
img.logo1{
    height: 60px;
    width: 90%;
    margin-bottom: 5px;
}
ul li a.nav-link,ul li a.dropdown-item{
    color: white !important;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
ul li.nav-item{
    padding: 0px 18px 0px 18px;
}
ul li a.nav-link{
    padding: 26px;
}
ul.dropdown-menu{
    margin: 0;
    padding: 0;
    background-color: rgba(41, 98, 167, 0.8);
}
ul li.dropdown-item{
    padding: 0;
}
ul li a.dropdown-item{
    padding: 10px 20px 10px 20px;
}
.dropdown-item:focus,ul li.nav-item:hover,li.dropdown-item:hover,a.dropdown-item:hover{
    background-color: rgba(22, 53, 92, 0.8) !important;
    transition: 0.5s;
}
.header-search{
    width: 28%;
}
input.search{
    width: 80%;
    height: 36px;
}
button.btn-outline-light{
    position: absolute;
    margin-left: 2px;
}
.aboutasha{
    width: 150px !important;
}
@media only screen and (max-width: 1024px) {
    .slide .carousel-inner img {
        width: 100%;
        height: 300px;
    }
    .logo{
        width: 150px;
    }
    .aboutasha{
        width: 110px !important;
    }
    nav.navbar{
        height: 60px;
    }
    .slide{
        margin-top: 60px;
    }
    ul li a.nav-link,ul li a.dropdown-item{
        color: white !important;
        font-size: 13px;
        padding: 10px;
    }
}
@media only screen and (max-width: 426px){
    ul.navbar-nav{
        float: right;
        width: 200px;
        background-color: rgba(41, 98, 167, 0.8);
        margin-top: 10px;
    }
    .header-search{
        display: none;
    }
}
.content{
    margin-top: 80px;
}


.footer{
    background-color: rgba(41, 98, 167, 0.8);
    color: white;
    line-height: 25px;
}
.footer a:hover{
    color: wheat;
}
ul.list-unstyled li a,a.copyright{
    color: white;
    text-decoration: none;
}
.footer h5{
    font-size: 18px;
}
.footer li a,.footer li{
    font-size: 15px;
}
.container{
    /* text-align: center; */
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    /* overflow: auto; */
}



.list
 {
    float: left;
    width: 320px;
    /* background: yellow; */
}

.list ul 
{
    list-style: disc;
    list-style: none;
}

.branch-1, .branch-2, .branch-3, .branch-4
 {
    cursor: pointer;
    margin: 5px;
    background: rgb(234, 239, 245);
    color:black;
    text-align: ;
    text-align-last: right;
}

.map {
    float: right;
    width: 850px;
    height: 600px;
    /* background: red; */
    position: relative;
}

.location .child 
{
    width: 70%;
    height: 500px;
    display: none;
    position: absolute;
/*   background: teal;*/
    
}
.location {
    width: 70%;
    height: 500px;
 /* background: teal;*/
    margin-left: 350px;
}



hr
 {
    width: 70%;
    border-bottom: solid teal;
}

.active
{
    background: rgb(41,98,167);
    color: white;
}

.content
{
    margin-top: 100px;
    margin-bottom: 0;
}
.list li:hover
{
    color: white;
    background-color: rgb(21, 54, 95);
}
h2.text1
{
    font-weight: 800;
    color: rgb(41,98,167);  
}