
.row-navbar {
    visibility: hidden;
    /* display: none; */
}
@media (min-width: 992px) {
    .row-navbar {
        visibility: visible;
        /* display: block; */

    }
}
.container-header-nav {
    /* position: fixed; */
    top: 0px;
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdownMenuLink {
    background-color: transparent;
    color: black;
    border: none;
    
}

.input-group .btn-secondary, .input-group .btn-secondary:active {
    background-color: transparent;
    border: none;
    color: black;
    /* border-top-right-radius: 15px; */
}

.input-group-removeOutline{
    border: 1px solid blue;
    border-radius: 5px;

}
.input-group-removeOutline .btn-outline-secondary:hover {
    color: black;
}
.toggle-menu {
    font-size: 22px;
    color: #129AC6;
}
.btn-signin {
    border-radius: 10px;
    color: white;
    background-color: #129AC6;
}

.btn-signin:hover {
    color: white;
    background-color: #2e749a;
    border: 1px solid #2e749a;
}
.row-outline {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.dropdown-menu.show {
    display: block;
    border: none;
    background-color: transparent;
}
.toptrending {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.div-striped {
    border: 1px solid ;
    width: 0.2px;
    height: 18px;
    border-color: #EFEFEF;
}
.row-navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgb(220, 219, 219);
    border-bottom: 1px solid rgb(220, 219, 219);
    padding: 2px 0px;
}
.row-navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: none;
    font-size: 18px;
    padding: 3px 0px;
    border-radius: 3px;
}
.row-navbar a:hover{
    background-color: #129AC6;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.btn-title {
    color: white;
    font-weight: bold;
    background-color: #129AC6;
    border: none;
    padding: 5px 20px;
    min-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.pagination a {
    color: black;
}
.container-footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 120px;
    padding-top: 50px;
}
.container-footer {
    /* background-color: #129AC6; */
    background-image: linear-gradient(#129AC6 , #8BD2E8);
    /* text-align: ; */
    padding-top: 30px;

}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}