
.row-navbar {
    visibility: hidden;
    /* display: none; */
}
@media (min-width: 992px) {
    .row-navbar {
        visibility: visible;
        /* display: block; */

    }
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdownMenuLink {
    background-color: transparent;
    color: black;
    border: none;
}

.input-group .btn-secondary, .input-group .btn-secondary:active {
    background-color: transparent;
    border: none;
    color: black;
    /* border-top-right-radius: 15px; */
}

.input-group-removeOutline{
    border: 1px solid blue;
    border-radius: 5px;

}
.input-group-removeOutline .btn-outline-secondary:hover {
    color: black;
}
.btn-signin {
    border-radius: 10px;
}
.row-outline {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.dropdown-menu.show {
    display: block;
    border: none;
    background-color: transparent;
}
.toptrending {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-striped {
    border: 1px solid ;
    width: 0.2px;
    height: 18px;
    border-color: #EFEFEF;
}
.row-navbar {
    margin-top: 20px;
    margin-bottom: 20px;
}
.row-navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: solid 1px gray;
}
.pagination a {
    color: black;
}
.container-footer a {
    text-decoration: none;
    color: black;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}